<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
<style>
	.progress-bar {
  		overflow-x:visible;
  		white-space:nowrap;
  		color:black; /* color is for demo purposes */
	}
	.progress {
		height: 40px;
		font-size: 30px;
	}
	.bar {
		font-size: 15px;
		line-height: 30px;
	}
	.non-active{
		pointer-events: none;
	}

</style>
	
<script>
		
		var loadPolls = function(){

		var poll_id = <%= @poll.id %> 
		var results = JSON.parse('<%= @vote_count_ar %>'.replace(/&quot;/g,'"'));
		var user_vote = '<%= @current_user_voted[0] %>' ; 
		var total_votes =  '<%= @users_voted.length %>';
		var user_flock_id = '<%= @guest_user %>';

		var url = '<%= ENV["POLL_URL"] %>'+'/api/v0/polls/'+poll_id;
		var polls = "";

		for(var i=0;i<results.length;i++)
		{
			
			var option = "<div style='height:40px;'>"
			option +=    "<input type='radio' name='user_vote' style='float:left;margin-right:10px;margin-left:10px;height:30px' \
							value='"+ results[i][4]+"'";

			option+=   (user_vote == results[i][4]) ? 'checked >' : '>';				
			option +=    "<a href='"+results[i][5]+"' target='_blank'>";
			option +=    "<div class='progress' style='width:300px;float:left;height:30px'>";
			if(user_vote==results[i][4])
			{
				option+="<div id='rest" + results[i][4] +"' class='bar progress-bar progress-bar-info bar' role='progressbar' style='width:"+  ( (total_votes==0)? 0 :(results[i][1]*100)/total_votes ) +"%;color:#000;height:30px'>";
			}
			else
			{
				option+="<div id='rest" + results[i][4] +"' class='bar progress-bar progress-bar-success bar' role='progressbar' style='width:"+  ( (total_votes==0)? 0 :(results[i][1]*100)/total_votes ) +"%;color:#000;height:30px'>";
			}

			option+="<span class='detail' id='detail"+results[i][4]+"' style='float:left'> &nbsp;"+results[i][0] + " (" + results[i][1]+" votes)</span>";		
			option+="</div>";
			option+="</div>";
			option+="</a>";
			option+="</div>";
			polls+=option;
		}

		$('body').append(polls);

		var update = function(){


			$.get(url+"?json=1&user_id="+user_flock_id,function(data){
			
				results = eval(data.results);
				total_votes = data.total_votes;
				user_voted  = data.current_user_vote;
				console.log(user_vote+"   "+user_voted);
				
				console.log(results[0]);
				console.log(results[1]);
				console.log(results[2]);

				for(var i=0;i<results.length;i++)
				{
					var width = ( (total_votes==0)? 0 :(results[i][1]*100)/total_votes ) ;
					//change divs width
					$("#rest"+results[i][4]).width(width+'%');
					//change text of span
					var text = results[i][0] + " (" + results[i][1]+" votes)";
					$("#detail"+results[i][4]).text(text);
				}
				
				$("#rest"+user_vote).removeClass('progress-bar-info');
				$("#rest"+user_vote).addClass('progress-bar-success');
		
				$("#rest"+user_voted).removeClass('progress-bar-success');
				$("#rest"+user_voted).addClass('progress-bar-info');
		
				user_vote = user_voted;

				$('#message').text("game is on !");
				$('body').removeClass('non-active');

			});
		};


		$('input[type=radio][name=user_vote]').change(function(){
			$('#message').text("Recalculating PI...");
			$('body').addClass('non-active');

			$.post(url+"/restaurant/"+this.value,{user_id: user_flock_id},function(){
				setTimeout(update, 5000);
			}).fail(function(){
					console.log('not done');
			});		
		});

	var update_polls = function(){
			$('#message').text("Recalculating PI...");
			$('body').addClass('non-active');
			update();
		};

		setInterval(update_polls, 30000);


	};

</script>

<body onload='loadPolls()' style='margin-top: 15px;overflow-x:hidden;overflow-y: scroll'>
<div id="message" style="height: 30px;width: 360px;margin-left:10px">
game is on !
</div>
</body>

</html>